<div class= "backgroundImage text-white">
  <div class="container">
    <h2 class="text__lucidaGrande">LOG IN</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="email">email</label>
  <input class="form-control" id="email" type="text" name="email" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input class="form-control" id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class="btn btn-light">LOG IN</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>
</div>
</div>