
<div class="container">

<img alt="error" width="50%" src="{{user.profilePicture}}" <div class="mr-3 ml-3">

<form action="/editProfile" method="POST" enctype="multipart/form-data">

<div class="custom-file mt-3">
  <input type="file" class="custom-file-input" id="profilePicture" name="photo">
  <label class="custom-file-label" for="profilePicture">Choose a profile picture </label>
</div>

  <div class="form-group mt-3">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" class="form-control" value={{user.name}}>
  </div>
  <div class="form-group">
    <label for="politicalView">Political View</label>
    <textarea id="politicalView" class="form-control" rows="3" name="politicalView">{{user.politicalView}}</textarea>
  </div>
  <div class="form-group">
    <label for="party">Select Party</label>
    <select class="form-control" id="party" name="party">
      <option value="Anonymous"> Anonymous </option>
      <option {{#ifEquals user.party "Conservative"}}selected{{/ifEquals}}value="Conservative">Conservative</option>
      <option {{#ifEquals user.party "Labour"}}selected{{/ifEquals}} value="Labour">Labour</option>
      <option {{#ifEquals user.party "Scottish National"}}selected{{/ifEquals}}value="Scottish National">Scottish National</option>
      <option {{#ifEquals user.party "Liberal Democrats"}}selected{{/ifEquals}}value="Liberal Democrats">Liberal Democrats</option>
      <option {{#ifEquals user.party "Democratic Unionist"}}selected{{/ifEquals}}value="Democratic Unionist">Democratic Unionist</option>
      <option {{#ifEquals user.party "Sinn Fein"}}selected{{/ifEquals}}value="Sinn Fein">Sinn Fein</option>
      <option {{#ifEquals user.party "The Independent Group for Change"}}selected{{/ifEquals}}value="The Independent Group for Change">The Independent Group for Change</option>
      <option {{#ifEquals user.party "Plaid Cymru"}}selected{{/ifEquals}}value="Plaid Cymru">Plaid Cymru</option>
      <option {{#ifEquals user.party "Green Party of England and Wales"}}selected{{/ifEquals}}value="Green Party of England and Wales">Green Party of England and Wales</option>
      <option {{#ifEquals user.party "Brexit Party"}}selected{{/ifEquals}}value="Brexit Party">Brexit Party</option>
      <option {{#ifEquals user.party "Scottish Green"}}selected{{/ifEquals}}value="Scottish Green">Scottish Green</option>
      <option {{#ifEquals user.party "UK Independence Party"}}selected{{/ifEquals}}value="UK Independence Party">UK Independence Party</option>
      <option {{#ifEquals user.party "Social Democratic"}}selected{{/ifEquals}}value="Social Democratic">Social Democratic</option>
      <option {{#ifEquals user.party "Ulster Unionist"}}selected{{/ifEquals}}value="Ulster Unionist">Ulster Unionist</option>
      <option {{#ifEquals user.party "Alliance Party of Northern Ireland"}}selected{{/ifEquals}}value="Alliance Party of Northern Ireland">Alliance Party of Northern Ireland</option>
      <option {{#ifEquals user.party "Green Party in Northern Ireland"}}selected{{/ifEquals}}value="Green Party in Northern Ireland">Green Party in Northern Ireland</option>
      <option {{#ifEquals user.party "Traditional Unionist Voice"}}selected{{/ifEquals}}value="Traditional Unionist Voice">Traditional Unionist Voice</option>
      <option {{#ifEquals user.party "People Before Profit"}}selected{{/ifEquals}}value="People Before Profit">People Before Profit</option>
    </select>
  </div>

  <button class="btn btn-primary btn-lg btn-block"> Submit Form </button>


</form>

</div>



</div>






