<h1>News</h1>
<div class="article-wrapper">
  {{#each articles}}
    <div class="article-item">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p><br><br>
      <img src="{{this.imgArticle}}" alt="" width="100%"><br>
      <button>Vote</button>
    </div>
  
  {{/each}}
</div>