<div>
  <h3 class="font-bold"> Search Users </h3><br>
</div>

<form class="form-inline" method="POST" action="/profileList">
  <input class="form-control" type="search" placeholder="Search">
  <button class="btn btn-outline-dark" type="submit">Search</button>


</form>


//sample
<select class="custom-select mr-sm-2" id="CustomSelect" name="select2">
  <option selected>Search by Political Party</option>
  <option value="1" name="C">Conservatives</option>
  <option value="2" name="L">Labor</option>

</select><br><br>


<div>
  {{#each user}}
 <ul><li>{{this.name}}</ul></li>
  {{/each}}
</div>