<div>
  <h3 class="font-bold"> Profile </h3><br>
</div>

<div class="profile-pic">
  <img src="{{user.profilePicture}}" alt="" width="40%">
</div>
<br>
<div class= "profile-email">
  <h4>{{user.name}}</h4><br>
</div>

<div>
  <div class="profile-item">
    <p>Party:
      {{user.party}}</p><br>



  </div>
</div>