<div>
  <h3 class="font-bold"> Search Users </h3><br>
</div>

<form class="form-inline" method="POST" action="/profileList">
  <input class="form" type="text" placeholder="Ned Stark" name="name">
  <button class="btn btn-outline-dark" type="submit">Search</button>


</form><br><br>


{{!-- <form action="/profileList">

<select class="custom-select mr-sm-2" id="CustomSelect" name="party">
  <option selected>Search by Political Party</option>
  <option value="1" name="party">Conservatives</option>
  <option value="2" name="party">Labor</option>

</select>
</form><br><br><br> --}}



<div>

  {{#each user}}

  <h4>{{this.name}}</h4>
  <img src="{{this.profilePicture}}" alt="" width="20%">
  <a href="/profile/{{this._id}} " class="btn btn-outline-dark" role="button" aria-pressed="true">See {{this.name}} votes </a>

  {{/each}}

</div>