$primary: #0a1376; // To change the primary color
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Roboto", sans-serif; // font-family: 'Lora', serif;
  background-color: #f0ffff;
}

.font-bold {
  font-family: "Roboto Black", sans-serif; // font-family: 'Lora', serif;
}

a {
  color: #00b7ff;
}

.container{
  padding: 10px;
  margin-bottom: 20px;
}

.voting-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.backgroundImage {
  background-image: url("/images/riot&blue.png");
  height: 100vh;
  background-size: cover;                      
}

.text__lucidaGrande {
  font-size: 40px;
}

.profile-pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vote {
  display: flex;
  justify-content: space-between;
}

.for{
  background-color: #0A1376;
}

.against{
  display: flex;
  justify-content: flex-end;
  background-color: #7C9BD7;
}