$primary: #0a1376; // To change the primary color
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Roboto", sans-serif; // font-family: 'Lora', serif;
  background-color: #f0ffff;
}

.font-bold {
  font-family: "Roboto Black", sans-serif; // font-family: 'Lora', serif;
}

a {
  color: #00b7ff;
}

.voting-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.backgroundImage {
  background-image: url("/images/riot&blue.png");
  height: 100vh;
}

.text__lucidaGrande {
  font-size: 40px;
}

.profile-pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-username {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}