  $primary: #0A1376; // To change the primary color

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
